@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yaldevi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{
	background-color: rgba(122, 122, 122, 1);
}
.block{
	height: 120%;
	width: 30%;
	margin-left: 33%;
	margin-top: -5%;
	background:rgba(191, 189, 191, 1);
	border: 1px solid black;
	font-family: Georgia, serif;
	border-radius: 15px;
	
}
#block-1 p{
	font-size: 120%;

}
.button{
	font-size: 90%;
	width: 90%;
	height: 15%;
	margin-top: 10%;
	border: 0px;
	border-radius: 15px;
	
}
#buttonTime{
	margin-top: 10%;
}


#buttonAdditionally{
	width: 60%;
	height: 10%;
	
	margin-top: 10%;
	border-radius: 15px;
	border: 0px;
}
#block-1{
	display: none;
	position: absolute;
	z-index: 1;
	font-size: 35px;
	text-align: center;
	
}
#block-2{
	display: none;
	position: absolute;
	z-index: 1;
}
#block-3{
	display: none;
	position: absolute;
	z-index: 1;
	
}
#block-4{
	display: block;
	position: absolute;
	z-index: 1;
	
}
#block-5{
	display: none;
	position: absolute;
	z-index: 1;
	
}
.buttonDays{
	font-size: 110%;
	border: 0px;
	border-radius: 15px;
	width: 80%;
	height: 7%;
	margin-left: 10%;
	margin-top: 3%;
	border: 0px;
	display: block;
}
#buttonTypeOfWeek{
	font-size: 110%;
	border: 1px solid black;
	border-radius: 0px;
	width: 80%;
	height: 8%;
	margin-left: 10%;
	
}
#AddDaysofWeek{
	height: 10%;
	width: 40%;
	border-radius: 5px;
}
#buttonDayAddSunday{
	height: 5%;
	width: 40%;
	display: none;
}
#buttonBack{
	width: 60%;
	height: 6%;
	margin-left: 20%;
	margin-top: 2%;
	font-size: 110%;
	border: 1px solid black;
	border-radius: 10px;
}
.buttonConfirm{

	width: 80%;
	height: 8%;
	margin-left: 10%;
	margin-top: 3%;
	font-size: 110%;
	border: 1px solid black;
	border-radius: 10px;
}
#buttonDay-6{
	display: none;
}
#buttonDay-7{
	display: none;
}

.dayVisible{
	display: block;
}
.dayInvisible{
	display: none;
}
.buttonEveryDay{
	width: 80%;
	height: 10%;
	margin-left: 10%;
	margin-top: 5%;
}
#showDayOfWeek{
	height:50px;
	width: 100%;

	text-align: center;
}
#showEveryDay{
	margin-top:5%;
	font-size: 35px;
}

.startClass{
	display: inline-block;
	width:30%;
	height: 3%;
	border: 1px solid black;
}
.endClass{
	display: inline-block;
	width:30%;
	height: 3%;
	border: 1px solid black;
}
tr{
	width: 100%;

}
td{
	width: 330px;
	border: 1px solid black;
	height: 30px;
}
#block-4 p{
	font-size: 20px;
}
.mainParametres{
	width:15%;;
}
h2{
	text-align: center;
}
#block-4 .buttonConfirm{
	margin-top:0%;
}
#tabletOfTimer{
	
	width: 80%;
	height: 60%;
	border: 1px solid black;
	margin-top: 10%;
	margin-left: 10%;
	position: absolute;
	z-index: 0;
	background-color: white;
	border-radius: 25px;


}
.TimeOfTimer{
	font-size:120px;
	display: inline-block;
	margin-left: 10%;
}
#timeOfTimerD{
	margin-left: 20%;
}
.TextOfTimer{
	
	display: inline-block;

	margin-top: 10%;
}
#informationOfTime{
	font-size:60px;
	margin-top: 4%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.tableButtons{
	display: inline-block;
	margin-top:5%;

	width: 30%;
	height: 15%;
}
#buttonTimetable{
	margin-left: 10%;


}
#buttonSettings{
	font-size: 30px;
	border-radius: 15px;
	margin-left: 35%;
	border: 1px solid black;
	
	
	
}
.activeButtons{

	z-index: 1;
}
#exit{
	text-align: center;
	width: 6%;
	height: 4%;
	margin-left: 90%;
	margin-top: 5%;
}
.TextOfTimer{
		font-family: 'Yaldevi', sans-serif;
}
#buttonSettings:hover{
	transition: 0.4s;
	background-color: gray;
	color: white;
}
.button:hover{
	transition: 1s;
	border: 1px solid black;
}
.buttonDays:hover{
	transition: 1s;
	border: 1px solid black;
}
#buttonAdditionally:hover{
	transition: 1s;
	border: 1px solid black;
}